// Ratios
//
// Foundation probably gets these functions from modular scale. We copied the
// formulas from it's Ruby source code:
// https://github.com/scottkellum/modular-scale/blob/master/lib/modular-scale.rb
//
//$golden: golden();
$golden = 1.61803398875
$gold = $golden;
//$double-octave: double_octave();
$double-octave = (4 / 1.0)
//$major-twelfth: major_twelfth();
$major-twelfth = (3 / 1.0)
//$major-eleventh: major_eleventh();
$major-eleventh = (8 / 3.0)
//$major-tenth: major_tenth();
$major-tenth = (5 / 2.0)
//$octave: octave();
$octave = (2 / 1.0)
//$major-seventh: major_seventh();
$major-seventh = (15 / 8.0)
//$minor-seventh: minor_seventh();
$minor-seventh = (16 / 9.0)
//$minor-sixth: minor_sixth();
$minor-sixth = (8 / 5.0)
//$fifth: fifth();
$fifth = (3 / 2.0)
//$augfourth: augmented_forth();
$augfourth = ((2 ** 0.5) / 1.0)
//$fourth: fourth();
$fourth = (4 / 3.0)
//$major-third: major_third();
$major-third = (5 / 4.0)
//$minor-third: minor_third();
$minor-third = (6 / 5.0)
//$major-second: major_second();
$major-second = (9 / 8.0)
//$minor-second: minor_second();
$minor-second = (16 / 15.0)
