// Mixin for Semantic Grid reponsiveness

// We could sort of implement these, but we'd have to put the numbers in here as
// literals. These things only save us a bit of typing, so we'll put these media
// queries in the more manual way and avoid repeating the screen sizes.

// NOTE: Not sure if we can do this in Stylus
//respondTo($media)
//  if $media == smallScreen
//    @media only screen and (max-width: $screenSmall - 1) { @content; }
//  else if $media == mediumScreen
//    @media only screen and (max-width: $screenMedium) and (min-width: $screenSmall) { @content; }
//  else if $media == largeScreen
//    @media only screen and (min-width: $screenXlarge) { @content; }
