//
// The JQuery UI plugin and addons for it.
//

@import "jquery-ui.css"
@import "jquery-ui-timepicker-addon.css"


//
// Our tweaks.
//

// This fixes a problem our groundfloor styles cause in the timepicker addon
// themes.
.ui-timepicker-div dt
  margin 0
