extend ../layout
block body

  main
    header.outer.row#main-heading
      .twelve.columns
        .panel
          h1 #{title}
        hr

    .outer.row
      .eight.columns
        p .
          Sorry, but you must be logged in with the proper permissions to view
          this page.

      aside.four.columns
